.SiderBar {
    margin-right: 6px;
    box-sizing: border-box;
    width: 100%;
    overflow: clip;
    position: relative;
    border-right: 1px solid #dcdcdc;
    padding: 10px 0 0;
    

    .SideBar-Items {
        font-size: .875rem;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: stretch;

        height: 100%;
        background-color: #fff;
        justify-content: space-between;
        position: relative;
        padding: 1rem;
        margin: 0;
        overflow: hidden;
        overflow-y: auto;

        position: fixed;
        max-width: 316.5px;
        width: calc(25vw - 6px);
        padding-bottom: 2rem;
        height: 97vh;

        @media only screen and (min-width: 1025px) {
            padding: 1.25rem 2.5rem;
        }

        .SideBar-Profile {
            margin-bottom: 1rem;
            flex-direction: column !important;
            display: flex !important;
            align-content: baseline;
            font-family: Inter, sans-serif;
            font-weight: 400;

            position: relative;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: inherit;
            align-items: stretch;
            width: 100% !important;
            padding: 1rem 0;

            justify-content: flex-start;

            .image {
                position: relative;
                display: inline-block;
                vertical-align: middle;
                max-width: 100%;
                background-color: transparent;

                margin-right: 0.25em;
                display: inline-block;
                width: 2em;
                height: 2em;
                border-radius: 500rem;
            }

            img {
                overflow-clip-margin: content-box;
                overflow: clip;

                border: 1px solid #e0e0e0;

                max-width: 100%;
            }
        }
    }
}